# NOTEBOOK

In this notebook,data science and tools and Ecosystem are summarized.

Some of the popular languages that data scientist use are :


  1.Python
  
  2.R
  
  3.SQL
  
  4.Scala
  
  5.Java
  
  6.C++

Some of the commonly used libraries used by data scientist include :

1-Pandas

2-Numpy

3-Seaborn

4-Matplotlib

5-Vegas

| **Data Scientist Araçları** | 
| --- |
| Anaconda |
| Jupyter Notebook |
| R Studio |
| Spyder |
| Zeppelin |

below are a few examples of evaluating arithmetic expressions in python

In [10]:
#This is a simple addition and multiplication operations

x=4+3

y=4*3
print(x)
print(y)

7
12

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**OBJECTIVES**

-Add comments to code

-Create markdown cells

-Add ordered or unordered list to markdown cells

**Author:**

 Deniz İrmeneli